.index {
  &__title{
    color: $color-primary;
  }

  &__filterbar{
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    &__form{
      align-items: normal;
    }
    &__buttons{
      display: inline-flex;
    }
    &__fields{
      display: inline-flex;
    }
  }

  &__item {
    position: relative;
    margin: 10px 0;
    &__soldout{
      position: absolute;
      top:0;
    }
    &__title {
      padding: 10px 20px;
    }
    &__image {
      background-size: cover;
      overflow: hidden;
      height:40%;
      display: block;
    }
    &__buttons{
      position: absolute;
      bottom: 10px;
      width: 100%;
      &--right{
        bottom: 0;
        position: absolute;
        right: 30px;
      }
    }
  }

  &__form{
    &__type{
      min-width: 180px !important;
    }
    &__matter{
      min-width: 180px !important;
    }
  }
}