//html, body, #app {
//  display: block;
//  height: 100%;
//  margin: 0;
//}

.show-link {
  text-decoration: none;
  color: $color-black;

  &:hover {
    color: $color-black;
  }
}

.parallax {
  /* The image used */
  background-image: url("/storage/global/banniere.jpg");
  background-size: contain;

  /* Set a specific height */
  min-height: 413px;
  width:100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  border-bottom: 1px solid $color-primary;

  @media only screen and (min-device-width: 769px) {  min-height: 285px;  }
  @media only screen and (min-device-width: 1025px) {  height: 380px;  }
  @media only screen and (min-device-width: 1441px) {  height: 535px;  }

  @media only screen and (max-device-width: 768px) {
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
  }

}

.nav-placeholder{
  height: 57px;
}

.nav-colored{

  position: fixed !important;
  width: 100% !important;
  background: white !important;
  z-index: 100;
  border-bottom: 1px solid $color-primary;

  &__home-title{
    color: $color-secondary !important;
    &:hover{
      color: $color-secondary-darker !important;
    }
  }
  &__page-title{
    color: $color-primary-light !important;
    &:hover{
      color: $color-primary-dark !important;
    }
  }
}

.footer-colored{
  border-top: 1px solid $color-primary;
  width: 100% !important;

}

